img{
    border-radius: 50%;
    height: 12rem;
    width: 12rem;
    display: none;
    box-shadow: 0 0 10px white, 0 0 20px #2632b5, 0 0 40px white;   
}
.aboutdiv{
    width: 75rem;
    height: 60vh;
    top: 10rem;
    position: absolute;
}
.mainAbout{
    position: absolute;
    margin-top: 5rem;
    margin-bottom: 5rem;
    /* margin-left: 10rem; */
    margin-right: 5rem;
}
.right{
    top: 10rem;
    position: absolute;
    float: right;
    align-items: center;
    justify-content: center;    
    width: 17rem;
}
.about{
    width: 17rem;
    font-size: 2rem;
    text-align: center;
}
.about{
    font-size: 2rem!important;
    font-family: 'Courier New', Courier, monospace;
    letter-spacing: 0px!important;
  }
  
  .about{
    padding-bottom: 10px;
    background: linear-gradient(to right, white 0, hsl(0, 70%, 34%) 10%, white 20%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: shine 3s infinite linear;
  }
  @keyframes shine {
    0% {
      background-position: 0;
    }
    60% {
      background-position: 600px;
    }
    100% {
      background-position: 600px;
    }
  }
.intro1{
    display: flex;
    font-size: 15px;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-shadow: 0 0 5px white;
    color: white;
    width: 13rem;
    height: 15rem;
    padding: 2rem 2rem 2rem 2rem;
}
.butt{
    height: 2rem;
    width: 8rem;
    border: none;
    color:white;
    cursor: pointer;
    box-shadow: 0 0 10px #783edb;
    background-color: transparent;
}
.butt:hover{
    color: white;
    box-shadow: 0 0 10px #07e533, 0 0 20px #1fde25, 0 0 40px #2ce211;
}
.buttdiv{
    display: flex;
    align-items: center;
    justify-content: center;
}
.butt p{
    color: white;
}
Link{
    text-decoration: none;
}
@media screen and (min-width: 352px) {
    img{
        border-radius: 50%;
        height: 8.6rem;
        width: 8.7rem;
    }
    .right{
        top: 10rem;
        left: 2rem;
        position: absolute;
        float: right;
        align-items: center;
        justify-content: center;    
        width: 20rem;
    }
    .about{
        font-size: 1.5rem;
        width: 20rem;
    }
    .intro1{
        font-size: .8rem;    
        width: 20rem;
        height: 7rem;
        padding: 2rem 0rem 2rem 0rem;
    }
    .buttdiv{
        width: 20rem;    
    }
    .butt{
        height: 2rem;
        width: 5rem;
        cursor: pointer;
    }
}
@media screen and (min-width: 706px) {  
    .aboutdiv{
        margin-left: 5rem;
    }
}
@media screen and (min-width: 930px) {
    .aboutdiv{
        margin-left: 18rem;
    }
}
@media screen and (min-width: 850px) {
    img{
        border-radius: 50%;
        height: 15.6rem;
        width: 15.7rem;
    }
    .hoverDiv{
        border-radius: 50%;
        height: 15.6rem;
        width: 15.7rem;
    }
    .aboutdiv{
        width: 35rem;    
        height: 70vh;
    }
    .mainAbout{
        margin-top: 8rem;
        margin-bottom: 5rem;
        margin-left: 1rem;
    }
    .right{
        top: 10rem;
        left: 22rem;
        position: absolute;
        float: right;
        align-items: center;
        justify-content: center;    
        width: 35rem;
    }
    .left{
        width: 0rem;
        height: 18rem;
    }
    .about{
        font-size: 1rem;
        width: 35rem;
    }
    .intro1{
        font-size: 1.3rem;    
        width: 35rem;
        height: 10rem;
        padding: 4rem 0rem 4rem 0rem;
    }
    .buttdiv{
        width: 35rem;    
    }
    .butt{
        height: 2rem;
        width: 8rem;
        cursor: pointer;
    }
}
@media screen and (min-width: 1250px) {
    img{
        border-radius: 50%;
        height: 18.6rem;
        width: 18.7rem;
        display: block;
    }
    .mainAbout{
        margin-top: 9rem;  
        margin-bottom: 5rem;
        margin-left: 10rem;
        margin-right: 2rem; 
    }
    .aboutdiv{
        width: 65rem;
        height: 60vh;
        margin-left: 0rem;
        position: absolute;
    }
    .right{
        left: 24rem;
        margin-right: 0rem; 
        width: 45rem;   
    }
    .left{
        width: 20rem;
        height: 22.6rem;
    }
    .about{
        width: 45rem;
        font-size: 4rem;
    }
    .intro1{
        font-size: 1.5rem;
        width: 45rem;
        height: 10rem;
    }
    .buttdiv{
        width: 45rem;
    }
}