.navbar{
    display: flex;
    position: absolute;
    right: 0;
    z-index: 2;
}
.lli{
    cursor: pointer;
    height: 3rem;
    width: 8rem;
    padding-top: 15px;
}
ul{
    list-style: none;
}
.mobileNav{
    position: absolute;
    z-index: 2;
    right: 1rem;
    padding: auto;
    margin-top: 10px;
    margin-left: 10px;
}
.navbar{
    /* visibility: hidden; */
    display: none;
}
.lim{
    color:white;
    cursor: pointer;
    height: 1rem;
    padding-top: 5px;
    padding-bottom: 5px;
    cursor: pointer;
}
.lism{
    position: absolute;
    right: 1rem;
    top: 2rem;
    background-color: black;
    display: block;
    border: 1px solid white;
    width: 10rem;
    margin-top: 1px;
    opacity: 1;
}
.mobileNav i{
    cursor: pointer;
    position: absolute;
    right: 1rem;
    z-index: 10;
}
@media screen and (min-width: 632px) {
    .navbar{
        display: block;
    }
    .lli{
            font-size: 1.3rem;
            color:white;
            font-family: 'Courier New', Courier, monospace;
    }
    .lli:hover{
        text-shadow: 0 0 10px #783edb, 0 0 20px #2632b5, 0 0 40px #3508c8;
    }
    .mobileNav{
        /* visibility: hidden; */
        display: none;
    }
    .lism{
        display: none;
    }
}